body {
    font-family: 'Play', sans-serif;
    background: linear-gradient(to right, white, rgb(0, 0, 0));
    color: black;
}

h1 {
    text-align: center;
    font-size: 50px;
    letter-spacing: 5px;
}
.containerInputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.firstNumberInput, .secondNumberInput,input, select {
    margin-bottom: 10px;
    font-family: 'Play', sans-serif;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.secondNumberInput {
  display: flex;
  text-align: below;
}

#selectOperator {
    font-family: 'Play', sans-serif;
} 
.button {
    background-color: #333;
    color: rgb(255, 255, 255);
    padding-left: 30px;
    padding-right: 25px
}

/* input::placeholder {
} */

.group1, .group2{
    display: flex;
    gap: 10px;
}

.resultText {
  font-size: 170px;
}